/**#00cec9;#2d3436;*/
html,body{
    background-color:#2d3436;
    color:#fff;
  }
  
  .component_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 400px;
    width: 1000px;
    background-color:#000;
    border: 1px solid #fff;
    border-radius: 12px;
    margin: 100px auto ;
  }

  /*<---------------------------------------------inner components------------------------------------>*/
  .main_view{
    /*main view is rotated:
    width is now the height,
    height is now the width
    */
    background-color: #000000;
    width:400px;
    height: 800px;
    overflow: hidden;
    -webkit-transform: rotate(-90deg) translate(200px);
        -ms-transform: rotate(-90deg) translate(200px);
            transform: rotate(-90deg) translate(200px);
  }
.menu{
  height: 100%;
  width: 90%;
  margin: 0 5%;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
}

.content{
  -webkit-transform: rotate(90deg) translateX(-360px);
      -ms-transform: rotate(90deg) translateX(-360px);
          transform: rotate(90deg) translateX(-360px);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  width: 800px;
  height: 360px;
}

.content h1{margin: 0 5px;}
  .menu-1{
    background-color:#e62020;
  }
  .menu-2{
    background-color:#3498db;
  }
  .menu-3{
    background-color:#2ecc71;
  }
  .menu-4 div{
    background-color:#d855c2;
  }

/*<---------------------------------------------side controls------------------------------------>*/

.side-control{
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.arrow-box{
  padding: 10px;
}

  .arrow {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 12px;
  }
#right-arrow{
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
#left-arrow{
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
 


.arrow-box:hover{
  background-color:#2C3A47;
  border-radius:10px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding: 12px;
}

img{max-width: 800px;}
